---
Checks: 'clang-diagnostic-*,clang-analyzer-*,bugprone-*,cppcoreguidelines-*,modernize-*,performance-*,-modernize-use-trailing-return-type'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
CheckOptions:
  - key: cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value: '1'
  - key: modernize-loop-convert.MinConfidence
    value: reasonable
  - key: modernize-use-auto.MinTypeNameLength
    value: '5'
  - key: performance-unnecessary-value-param.AllowedTypes
    value: 'string;vector;map;set'
...
